
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <div class="btn-next-to-each-other">
      <%= f.button :submit, class:"btn-pink" %>
      <%= link_to '< Back to cocktail', cocktail_path(@cocktail), class:"btn-pink-outline" %>
    </div>
<% end %>

